.quarterly-summary-wrapper {
  background-color: #ecedef;
  text-align: center;
  padding: 25px 0;
}
.quarterly-summary-wrapper table {
  width: 100%;
  border-spacing: 25px;
}

.quarterly-summary-wrapper table td {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  vertical-align: top;
  width: 30%;
}
